Function

Write a function add_numbers that takes two numbers as arguments and returns their sum.

In [1]:
def add_numbers(a,b):
    return a+b

print(add_numbers(3,7))

10

Write a function multiply_numbers that takes two numbers as arguments and returns their product.,9))

In [2]:
def multiply_numbers(x,y):
    return x*y

print(multiply_numbers(4,5))

20

Write a function divide_numbers that takes two numbers as arguments and returns their quotient. Make sure to handle the case where the second number is 0. error)

In [4]:
def divide_numbers(e,f):
    return e/f
    
try:
    print(divide_numbers(20,0))
except ZeroDivisionError as error:
    print("the answer is", error)

the answer is division by zero

Write a function calculate_average that takes a lot of numbers as an argument and returns their average.5,63,73]))

In [5]:
def calculate_average(n):
    p=0

    for i in n:
        p=p+i
    avg=p/len(n)
    return avg 


print("The average is:",calculate_average([7,16,25,34,45,56]))

The average is: 30.5

Write a function is_prime that takes a number as an argument and returns True if the number is prime and False otherwise.s_prime(23))

In [6]:
def is_prime(L):

    if L<2:
        return False
    h=2
    while h*h <= L:
            if L % h ==0:
                return False            
            h=h+1
    return True
            
print(is_prime(23))

True

OOPs

Create a class Bank with attributes name and accounts. Add methods add_account, remove_account, and get_total_balance that add an account to the list, remove an account from the list, and return the total balance of all accounts, respectively.
class Bank:

In [13]:
class Bank:

    def __init__(self, name):        
        self.name = name
        self.accounts = []    
        
    def add_account(self, account):
        self.accounts.append(account)
        print("Added account is:", account)
        
    def remove_account(self, account):
        self.accounts.remove(account) 
        print("Removed account is:", account)
        
    def get_total_balance(self):
        return self.accounts
        
d = Bank('sbi')

d.add_account('ling07')
d.add_account('sang18') 
d.add_account('kish47')
d.remove_account('sang18')
d.get_total_balance()

Added account is: ling07
Added account is: sang18
Added account is: kish47
Removed account is: sang18

['ling07', 'kish47']

In [14]:
d.accounts

['ling07', 'kish47']

In [15]:
d.name, d.accounts

('sbi', ['ling07', 'kish47'])